$green: #2fd3be;
$black: #000;

.header {
    &-container {
        transition: all 0.5s;
        padding: 1rem 0;
        border-bottom: 1px solid;
        margin-bottom: 2rem;

        &.sticky {
            position: sticky;
            top: 0;
            z-index: 1;
            background: #000;
            color: #fff;

            .header-linkItem a {
                color: #fff;
            }

            .header-linkItem {
                padding: 1rem 0;

                &::after {
                    background: #fff;
                }
            }

            .menu--open {
                svg {
                    color: #fff;
                }
            }

            .subMenuItem {
                a {
                    color: #000;
                }
            }
        }

        &.isHome {
            border: none;
        }
    }

    &-address {
        background: #000;
        text-align: center;
        color: #fff;
        padding: 1rem;
        text-transform: capitalize;
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    &-nav {
        flex: 1;
    }

    &-navInner {
        justify-content: flex-end;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        position: relative;
    }

    &-linkItem {
        margin: 0 2rem;
        font-size: 1.7rem;
        padding-bottom: 1rem;

        .subMenu {
            position: absolute;
            width: 100%;
            background: #fff;
            z-index: 2;
            left: 0;
            top: 100%;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            visibility: hidden;
            opacity: 0;
            transform: translateY(-10px);
            transition: all 0.5s;
        }

        .subMenuItem {
            display: block;
            margin: 0 2rem;
        }

        &:hover {
            box-shadow: 0px 3px 0px -1px rgba(0, 0, 0, 1);
            a {
                text-decoration: none;
                color: $black;
            }
        }

        &:hover .subMenu {
            visibility: visible;
            opacity: 1;
            transform: translateY(0px);
        }
    }

    &:hover::after {
        transform: scaleX(1);
    }

    a {
        color: $black;
        font-weight: 500;
    }

    &.active::after {
        transform: scaleX(1);
    }
}

.logo-container {
    margin-right: 2rem;
    max-width: 8rem;
}

.logo {
    width: 100%;
    height: 100%;
}

.navMobile {
    &-container {
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        background: #fff;
        height: 100%;
        z-index: 1;
        color: #000;
        transform: translateX(100%);
        transition: all 0.5s;

        &.active {
            transform: translateX(0);
        }

        .menu--close {
            padding: 2rem 0 0 2rem;
        }
    }
}

@media (max-width: 1024px) {
    .header-navInner {
        flex-direction: column;
    }

    .header-linkItem a {
        color: #000 !important;
    }

    .header-linkItem {
        padding: 1rem 0;
    }
}

@media (max-width: 500px) {
    .menu--open {
        margin-right: 2rem;
    }

    .logo-container {
        margin: 0 2rem;
    }
}
