@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
    font-family: "Roboto", sans-serif;
}

li {
    list-style: none;
}

*,
*:hover,
*:focus {
    text-decoration: none;
    outline: none !important;
}

button {
    border: none;
    background: transparent;
}

p {
    font-size: 1.5rem;
}
